@import "vars.scss";

.box-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  a {
    font-size: $step--1;
    color: $primary;
  }
}

.social-icon {
  margin: 0 2px;
  scale: 0.5;
}