@import "vars.scss";

.box-2 {
  display: flex;
  font-size: $step-2;
  width: 70%;
  h2 {
    color: $primary;
    font-weight: 600;
    span {
      color: $light;
    }
  }
}

@media (max-width: 1080px) {
  .box-2 {
    width: 100%;
  }
}