$step--1: clamp(0.63rem, calc(0.48rem + 0.73vw), 1.00rem);
$step-0: clamp(0.75rem, calc(0.55rem + 0.98vw), 1.25rem);
$step-1: clamp(0.90rem, calc(0.64rem + 1.29vw), 1.56rem);
$step-2: clamp(1.08rem, calc(0.74rem + 1.70vw), 1.95rem);
$step-3: clamp(1.30rem, calc(0.85rem + 2.23vw), 2.44rem);
$step-4: clamp(1.56rem, calc(0.97rem + 2.92vw), 3.05rem);
$step-5: clamp(1.87rem, calc(1.11rem + 3.80vw), 3.82rem);
$step-6: clamp(2.24rem, calc(1.25rem + 4.93vw), 4.77rem);
$step-7: clamp(2.69rem, calc(1.41rem + 6.39vw), 5.96rem);
$step-8: clamp(3.23rem, calc(1.58rem + 8.25vw), 7.45rem);
$step-9: clamp(3.87rem, calc(1.75rem + 10.62vw), 9.31rem);

$primary: #3ccb45;
$secondary: #38b641;
$light: #eeeeee;
$dark: #131313;