.footer_container {
  grid-area: f;

  display: flex;
  position: fixed;
  width: 90%;
  height: 10%;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 98;
}