@import "vars.scss";

.hero_container {
  grid-area: m;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  justify-content: center;

  h1 {
    font-size: $step-5;
    color: $light;
    span {
      color: $primary;
    }
  }

  p {
    color: $light;
    font-weight: 600;
    span {
      color: $secondary;
    }
  }
}